.titulos_edit{
    display: flex;
    justify-content: space-between;
    margin: 4em;
}
.titulos_editor{
    width: 30%;
    text-align: center;
}
.titulos_editor h1{
    font-weight: 800;
    font-size: 26px;
}

.layout_editores{
    display: flex;
}


.area_de_computadores{
    display: grid;
    grid-template-columns: repeat(9,100px);
    grid-template-rows: repeat(8,100px);
    grid-column-gap: 1em;
    row-gap: 2.5px;
    width: 68%;
    
}
.area_computadores_reserva{
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(8, 100px);
    width: 32%;
    border-left: 1px solid black;
}
.dropzone{
   
  scale: 0.7;
  

}

.computador_editando{
   
}
.highlight{
    background-color: gray;
    opacity: 0.5;
}
.highlight_secundario{
    background-color: red;
    opacity: 0.5;
}
