.titulos_edit{
    display: flex;
    justify-content: center;
    margin: 4em;
}
.titulos_editor{
    width: auto;
    text-align: center;
}
.titulos_editor h1{
    font-weight: 800;
    font-size: 26px;
    margin: 1.2em;
}
.titulos_editor p{
    font-size: 22px;
}

.layout_editores{
    display: flex;
    justify-content: center;
}


.area_de_computadores{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-column-gap: 0.5em;
    row-gap: 2.0px;
    width: 85%;
    
}



.dropzone_margin{
    grid-column: 7;
}

.dropzone{
    scale: 0.8;
   
}
.highlight{
    background-color: gray;
    opacity: 0.5;
}
.highlight_secundario{
    background-color: red;
    opacity: 0.5;
}
