
/* HEADER */
.header_superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    background-color: var(--vermelho_principal)
}
.header_inferior{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    height: 2.0em;
    
    
}
.header_links {
    margin: 0.5em 1em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 1em 2em; 
    padding: 0 2em;
       
}
.link_meio{
    border-left: 1px solid;
    border-right: 1px solid;
    
    
}
.header_links:hover{
    color: var(--vermelho_principal);
}
