.main_apresentação{
   text-align: center;
   padding: 0 8em;



}
.main_apresentação h1{
    margin: 0.5em 0 0.7em 0; 
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    
}
.apresentação_texto{
    font-size: 22px;
    font-weight: 300;
}

.faixa_principal{
    display: flex;
    margin: 1.5em 0;
    background-color:#C71C30;
    color: white;
    
}
.faixa_textos{
    text-align: center;
    padding: 20px 50px;
    
}
.faixa_titulo{
    font-size: 32px;
    font-weight: 800;
    margin: 0.5em 0;
}
.faixa_descrição{
  font-size: 24px;

    
}
.altura_titulo_carousel{
    margin-bottom: 8.5em;
}
.titulo_principal{
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;

}
.main_secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 3em;
    background-image: linear-gradient(white,gray); 
}
.div_lab{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid;
    
}
.div_sec_textos{
    text-align: center;
    margin: 2em;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 40%;
}
.secundario_descrição{
    font-size: 24px;

}
.secundario_titulo{
    font-size: 32px;
    font-weight: 700;
}
.main_links{
    display: inline-block;
    border-radius: 8px;
    background-color: var(--vermelho_principal);
    width: 30em;
    height: 5em;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 5em;
    text-transform: uppercase;

}
.div_reportar{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.main_links:hover{
    background-color: #C71C30;
    transition: 0.6s;
    transform: scale(1.15);

}

.tamanho_carousel{
    height: 400px;
    object-fit: cover;
}
#carouselExampleCaptions{
    margin: 3em 0;
}


    /* PAGINA LAB */



.lab_superior{
    text-align: center;
    margin: 2em 0;
}
.lab_superior h1{
    font-size: 36px;
    margin: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
}
.card_computador{
    width: 7em;
    height: 8em;
    border: 2px solid black;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.card_computador:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.container_popover{
    width: 6.8em;
    height: 7.8em;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container_texto{
    align-self: flex-end;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.texto_computador{

    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}
.status_verde{
    background-color: green;
    color: white;
}
.status_vermelho{
    background-color: darkred;
    color: white;
}
.status_branco{
    background-color: #ffffff00;
    color: black;
}
.imagem_monitor{
    width: 47%;
    height: auto;
    margin-top:2em
}
.fileira_computadores{
    display: flex;
    gap: 10px;
}
.container_layout{
    display: grid;
    width: 65%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 3em;
    row-gap: 2em;
    
}

.lab_inferior{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
    
}
.layout_legendas{
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    

}
.botões_explicação{
    display: flex;
    align-items: center;
    margin: 2em 0 0 8%;
    width: 2em;
}
.transição_degrade{
    
    background-image: linear-gradient(white,gray);
    
}
.div_transição{
    width: 100%;
    height: 10em;
}
.espaçamento_modal{
    margin: 0 0 2em 0;
}
.container_legendas,.container_especificações{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.container_breaks{
    display: flex;
    justify-content: center;
    gap: 12em;
    margin-top: 2%;
    height: 17em;


}
.collapse_descrição{
    margin-top: 0.5em;
}
.legenda_branco, .legenda_vermelho, .legenda_verde{
    margin: 0.5em;

}
    /* TELA DO TÉCNICO */

.container_reports{
 width: 100%;
 display: flex;
 justify-content: center;
 background-color: rgb(241, 241, 241);
 padding: 1em;
 
}
.reports_card{
    display: flex;
    width: 65%;
    background-color:rgb(238, 238, 238) ;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 0.2em 1em;
    justify-content: space-between;
}
.card_titulo{
    font-size: 28px;
}
.card_subtitulo{
    font-size: 16px;
}

