@import url("header.css");
@import url("main.css");
@import url("footer.css");
 
:root{
    --vermelho_principal:#A3130D;
    --fonte_principal: 'Inter', sans-serif;
}

body{
    font-family: var(--fonte_principal);
    background-image: linear-gradient(white 100%,gray 40%); 
}