<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
  <title>Flask Parent Template</title>
</head>
<body>
  <header class="cabecalho">
    <div class="header_superior">
        <img class="logo_fatec" src="{{url_for('static', filename='img/menu.png')}}" alt="logo da fatec">
        <img class="logo_usuario" src="{{url_for('static', filename='img/icone_tecnico.png')}}" 
        data-bs-toggle="modal" data-bs-target="#modal_login" alt="logo do usuario">
    </div>
    <div class="header_inferior">  
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Salas e Biblioteca</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Biblioteca</a></li>
            <li><a class="dropdown-item" href="#">Sala 304</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Laboratórios 3º Andar</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/lab/301">Laboratório 301</a></li>
            <li><a class="dropdown-item" href="/lab/302">Laboratório 302</a></li>
            <li><a class="dropdown-item" href="/lab/303">Laboratório 303</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Laboratórios 4º Andar</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/lab/401">Laborátorio 401</a></li>
            <li><a class="dropdown-item" href="/lab/402">Laborátorio 402</a></li>
            <li><a class="dropdown-item" href="/lab/403">Laborátorio 403</a></li>
            <li><a class="dropdown-item" href="/lab/404">Laborátorio 404</a></li>
            <li><a class="dropdown-item" href="/lab/405">Laborátorio 405</a></li>
            <li><a class="dropdown-item" href="/lab/406">Laborátorio 406</a></li>
            <li><a class="dropdown-item" href="/lab/407">Laborátorio 407</a></li>
            <li><a class="dropdown-item" href="/lab/408">Laborátorio 408</a></li>
            <li><a class="dropdown-item" href="/lab/409">Laborátorio 409</a></li>
            <li><a class="dropdown-item" href="/lab/410">Laborátorio 410</a></li>
            <li><a class="dropdown-item" href="/lab/411">Laborátorio 411</a></li>
            <li><a class="dropdown-item" href="/lab/412">Laborátorio 412</a></li>
          </ul>
        </li>
      </ul>
        
    </div>
    

    {% block content %}
    {% endblock %}

</header>
</body>
</html>