<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <title>Home</title>
    
</head>
<body>
    <header class="cabecalho">
        <div class="header_superior">
            <img class="logo_fatec" src="{{url_for('static', filename='img/menu.png')}}" alt="logo da fatec">
            <img class="logo_usuario" src="{{url_for('static', filename='img/cabeçalho.png')}}" alt="logo do usuario">
        </div>
        <div class="header_inferior">
            <a href="#" class="header_links">Home</a>
            <a href="{{ url_for('lab') }}" class="header_links link_meio">Laboratórios</a>
            <a href="#" class="header_links">Reporte erros</a>

        </div>
        
    </header>
        
    <main>
        <div class="main_apresentação">
            <h1 class="apresentação_titulo">SOS laboratorios FATEC</h1>
            <p class="apresentação_texto">Bem vindo ao sistema SOS, onde você aluno ira reportar problemas ocorridos nos componentes eletronicos da instituição, ou você tecnico ira analisar e ajudar a solucionar tais problemas apresentados pelos alunos</p>
        </div>

        <!-- CAROUSEL -->

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/img/foto figma 1.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../static/img/foto figma 1.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../static/img/foto figma 1.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="main_secundario">
            <div class="div_lab">
              <div class="div_sec_textos">
                  <h1 class="secundario_titulo">ACESSAR LABORATORIO</h1>
                  <p class="secundario_descrição">Visualize cada laboratório, junto da localização de suas maquinas, especificações e status
                  </p>
              </div>
              <div class="div_lab_ancoras">
                  <a href="{{ url_for('lab') }}" class="main_links">acessar laboratorio</a>
              </div>
           
          
            </div>
            <div class="div_reportar">
                <div class="div_sec_textos">
                    <h1 class="secundario_titulo">RELATE UM PROBLEMA</h1>
                    <p class="secundario_descrição">relate um problema ocorrido ultilizando recursos graficos e tags especificas</p>
                </div>
                <div class="div_rep_ancoras">
                    <a href="#" class="main_links">Relatar Problema</a>
                </div>
            </div>
      </div>

    </main>
    <footer class="footer_home">
        <h1>Todos os direitos Reservados</h1>
        <div class="github">
            <a class="link_github">https://github.com/MirageGroup</a>
        </div>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>