<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Home</title>
    
</head>
<body>
    {% extends "header.html" %}
    {% block content %}
        
    <main>
        <div class="main_apresentação">
            <h1 class="apresentação_titulo">SOS laboratórios FATEC</h1>
            <p class="apresentação_texto">Bem-vindo ao sistema SOS Laboratórios Fatec, onde você aluno irá abrir chamados reportando problemas ocorridos nos equipamentos da instituição</p>
        </div>

        <!-- CAROUSEL -->

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="../static/img/carousel.jpg" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel ">
                  <h1 class="display-6 fw-bolder titulo_principal">SOS Laboratórios Fatec</h1>  
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../static/img/tutorial_1.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel">
                  <h1 class="display-6 fw-bolder titulo_principal">NAVEGUE PELOS LABORATÓRIOS</h1>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../static/img/tutorial_2.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel">
                  <h1 class="display-6 fw-bolder titulo_principal">SELECIONE UM DISPOSITIVO</h1>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../static/img/tutorial_3.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel">
                  <h1 class="display-6 fw-bolder titulo_principal">REPORTE UM PROBLEMA</h1>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../static/img/tutorial_4.png" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel">
                  <h1 class="display-6 fw-bolder titulo_principal">VISUALIZE O PROBLEMA</h1>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="main_secundario">
          <h1 class="m-4 fs-3">Possíveis soluções para problemas frequentes</h1><br>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  O computador não liga
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Dê uma olhada na fonte de alimentação. Veja também se o computador está bem conectado à tomada.</strong> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  O computador está sem internet
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Uma das causas mais frequentes para a falta de Internet é um problema com o cabo. É comum o cabo Ethernet desconectar ou ficar frouxo conforme o usuário mexe no gabinete. Quando isso acontecer, o ícone de rede mostrará um “X” vermelho, indicando suspensão da conexão. Para resolver, basta encaixar o plugue novamente e aguardar alguns minutos para a conexão ser restabelecida.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  O computador está muito lento
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Seu PC está lento porque algo está usando seus recursos. Ou, um aplicativo pode estar sofrendo um erro de memória e usando uma grande quantidade dela, fazendo com que o seu PC troque para o disco. Como alternativa, um aplicativo pode estar usando muito o disco, fazendo com que outros aplicativos diminuam a velocidade quando precisam carregar dados ou salvá-los.<br>
                  <br>
                  Para descobrir, abra o Gerenciador de Tarefas. Você pode clicar com o botão direito do mouse na sua barra de tarefas e selecionar a opção “Gerenciador de Tarefas” ou pressione Ctrl + Shift + Esc para abri-lo.<br>
                  <br>
                  Se algum aplicativo estiver usando muitos recursos, convém fechá-lo normalmente. Se não for possível, selecione-o aqui e clique em “Finalizar tarefa” para forçar o fechamento.
                  </strong> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  O computador não está dando imagem
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Verifique o monitor<br>
                    <br>
                    Ao ligar o computador e perceber que o monitor não está exibindo nenhuma imagem, é preciso verificar se o aparelho está ligado. Caso afirmativo, veja se há alguma mensagem como: “Cabo Desconectado”. Nesse caso, pode ser que o problema seja apenas um mau contato no cabo VGA/DVI ou HDMI.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  O computador está sem som
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Verifique se o dispositivo está ativo<br>
                  <br>
                  Caso seu ícone de "Som" esteja inativo com um "x" vermelho, pode ser que seu dispositivo de áudio esteja desabilitado. Isso pode acontecer quando um driver foi desativado, ou quando tornamos um dispositivo móvel (fones de ouvido, caixinhas de som) como nosso dispositivo padrão.
                  Nesse caso, acesse a categoria "Hardware e som" no seu "Painel de controle" para visualizar mais opções. Feito isso, clique em "Alterar os sons do sistema" e depois clique em "Reprodução". Nessa página, você pode clicar com o botão direito sobre dispositivos para testar, ativar e desativar eles como desejar.
                  </strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  O computador está tendo a tela azul
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Verifique os Drivers<br>
                    <br>
                    Se você instalou um dispositivo de hardware recentemente, é necessário verificar se esse driver é o mais atualizado. Para isso, basta ir até o site do fabricante para localizar o arquivo referente ao novo equipamento. Dessa forma, como a maioria dos drivers se instalam sozinhos, é preciso apenas baixar o arquivo e a instalação começa.<br>
                    <br>
                    
                    HD e memória<br>
                    <br>
                    Verificar o disco rígido e a memória do computador é imprescindível. Pois, existem alguns erros que podem causar através destes dispositivos. Se você quer verificar a situação da memória precisa acessar “Ferramenta de Diagnóstico”. Ou seja, é só clicar em Iniciar, ir até o painel de controle, digitar memória na caixa de pesquisa e clicar em “Diagnosticar problemas de memória do computador”.<br>
                    <br>
                    
                    Monitorar temperatura<br>
                    <br>
                    Pode parecer besteira, mas quando uma máquina é mal refrigerada ela pode se tornar o principal motivo para uma tela azul. Sendo assim, a solução é verificar se as entradas de ar de seu computador estão desimpedidas. E se há acumulo de resíduos capturados pelos ventiladores ao longo do tempo.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  O computador está desligando sozinho
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>O computador desligar sozinho pode significar diferentes tipos de problemas. Desde descuidos, como usar a fonte errada ou um carregador de notebook com especificações abaixo do mínimo exigido, até situações mais graves na hora de instalar hardware. Além disso, a condição dos próprios componentes pode ser uma das causas.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  O sistema operacional não está inicializando
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Modo de Segurança<br>
                    <br>
                    Em muitos casos, algum item novo de hardware ou atualização errada em drivers do seu computador podem estar impedindo o Windows de inicializar corretamente. Dessa forma, a melhor maneira de testar se esse é o problema é iniciando o sistema no Modo de Segurança.
                    
                    Geralmente, quando o Windows apresenta problemas ao iniciar, a opção do Modo de Segurança aparece automaticamente na próxima tentativa de inicialização. Caso ele não apareça, clique em alguma das teclas “F” do seu teclado, em geral a F8 ativa essa opção.
                    No Modo de Segurança, é possível diagnosticar melhor o problema e até reverter as alterações que possam ser a causa dele, além de realizar uma Restauração do Sistema para tentar retornar o Windows a uma data em que tudo funcionava corretamente.
                  </strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  A tela está congelando
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>1. Verifique as atualizações do Windows.<br>
                    2. Limpe os seus arquivos temporários.<br>
                    3. Rode um diagnóstico de memória.<br>
                    4. Ajuste a sua memória virtual.<br>
                    5. Realize uma verificação de disco.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                  O mouse não está funcionando
                </button>
              </h2>
              <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Verificar se o mouse está conectado<br>
                    <br>
                    Se você tem um mouse com um cabo, certifique-se de que ele está firmemente conectado a seu computador.
                    
                    Se ele é um mouse USB (com um conector retangular), tente conectá-lo a uma porta USB diferente. Se for um mouse PS/2 (com um conector redondo e pequeno, com seis pinos), certifique-se de que ele está plugado à porta de mouse, verde, ao invés da porta do teclado, roxa. Você pode ter que reiniciar o computador, se ele não estava conectado antes.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEleven">
                <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                  O teclado não está funcionando
                </button>
              </h2>
              <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Verificar se o teclado está conectado<br>
                    <br>
                    Se você tem um teclado com um cabo, certifique-se de que ele está firmemente conectado a seu computador.
                    
                    Se ele é um mouse USB (com um conector retangular), tente conectá-lo a uma porta USB diferente. Se for um mouse PS/2 (com um conector redondo e pequeno, com seis pinos), certifique-se de que ele está plugado à porta de mouse, roxa, ao invés da porta do mouse, verde. Você pode ter que reiniciar o computador, se ele não estava conectado antes</strong>
                </div>
              </div>
            </div>
          </div>
           
          
            </div>
            
      </div>

    </main>
    <footer class="footer_home">
      <img class="img-footer" src="../static/img/cps_brasao_sp_320x84.png" alt="fatec-logo">
       <div class="github" >
         <h1>Todos os direitos Reservados</h1>
       </div>
       <div class="link_github">
        <p>Link para nossso repositório:</p>
         <a href="https://github.com/MirageGroup" target="_blank">
           <img class="media-object" src="../static/img/GitHub-Mark-removebg-preview.png" alt="logo-git">
         </a>
        </div> 
    </footer>

    <!-- MODAL LOGIN-->

    <div class="modal fade" id="modal_login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Acesso de Técnico</h5>
          </div>
          <form action="/" method="POST">
            {{ form.csrf_token }}
            <div class="modal-body">
              <label class="form-label fw-bold" for="pc_problem">Insira o código de acesso de técnico</label>
              <label class="form-label">Para acessar a Área do Técnico, você precisa inserir o código de acesso do Técnico</label><br>
              {{ form.codigo(class="form-control espeçamento_modal") }}
              <br>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                  <ul class="flashes">
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
              {% endwith %}
            </div>   
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" id="btn_submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


    {% endblock %}

  </body>
</html>