<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <title>Home</title>
    
</head>
<body>
    {% extends "header.html" %}
    {% block content %}
        
    <main>
        <div class="main_apresentação">
            <h1 class="apresentação_titulo">SOS laboratórios FATEC</h1>
            <p class="apresentação_texto">Bem-vindo ao sistema SOS, onde você aluno irá reportar problemas ocorridos nos componentes eletrônicos da instituição, ou você técnico irá analisar e ajudar a solucionar tais problemas apresentados pelos alunos</p>
        </div>

        <!-- CAROUSEL -->

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="../static/img/carousel.jpg" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel ">
                  <h1 class="display-6 fw-bolder titulo_principal">SOS Laboratórios Fatec</h1>
                 
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../static/img/fatec.jpg" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel">
                  <h1 class="display-6 fw-bolder titulo_principal">A FATEC</h1>
                  
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../static/img/lab_fatec.jpg" class="d-block w-100 tamanho_carousel" alt="...">
                <div class="carousel-caption d-none d-md-block altura_titulo_carousel ">
                  <h1 class="display-6 fw-bolder  h-50 titulo_principal">Laboratórios</h1>
                  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="main_secundario">
            <div class="div_lab">
              <div class="div_sec_textos">
                  <h1 class="secundario_titulo">ACESSAR LABORATÓRIO</h1>
                  <p class="secundario_descrição">Visualize cada laboratório, junto da localização de suas maquinas, especificações e status
                  </p>
              </div>
              <div class="div_lab_ancoras">
                  <a href="/lab" class="main_links">acessar laboratório</a>
              </div>
           
          
            </div>
            
      </div>

    </main>
    <footer class="footer_home">
        <h1>Todos os direitos Reservados</h1>
        <div class="github">
            <a class="link_github">https://github.com/MirageGroup</a>
        </div>
        
    </footer>

        <!-- MODAL -->
        
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="inputCPF" class="form-label">Digite seu CPF</label>
                <input type="text" class="form-control" id="inputCPF" >
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Fatec</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nome.email@fatec.sp.gov.br">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="input_senha" class="form-label">Sua senha</label>
                <input type="password" class="form-control" id="input_senha">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Permanecer Logado</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    {% endblock %}
    
  </body>
</html>