<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">

    <title>Laboratorios</title>
</head>
<body>
    
    {% extends "header.html" %}
    {% block content %}
    
    <main>
            <div class="lab_superior">
                <h1>Editor de laboratório</h1>

            </div>
            <div class="titulos_edit">
                <div class="titulos_editor">
                    <h1>LAYOUT DA SALA</h1>
                    <p>arraste e solte os computadores para customizar o layout</p>

                </div>
                <div class="titulos_editor">
                    <h1>COMPUTADORES OCIOSOS</h1>
                    <p>arraste computadores que não estão sendo usados para esta divisão, eles não aparecerão no layout final</p>
                    
                </div>
            </div>
        
        
        <!-- computadores -->
    <section class="layout_editores">
          
        <div class="area_de_computadores">
            
                    <!-- Fileira 1 -->
            <div class="dropzone " id="1 1" >
                <card class="card_computador card" data-bs-toggle="modal" draggable="true"data-bs-target="#modal-teste"   data-bs-whatever="001" id="001">
                    <img src="../static/img/img_monitor.png" class="imagem_monitor">
                    <div class="container_texto status_verde">
                        <p class="texto_computador ">COMPUTADOR</p>
                        <p class="texto_computador ">001</p>
                    </div>    
                </card>
            </div>
            <div class="dropzone " id="2 1" >
                <card class="card_computador card computador_editando" draggable="true" data-bs-toggle="modal" data-bs-target="#modal-teste"   data-bs-whatever="professor" id="professor">
                    <img src="../static/img/img_monitor.png" class="imagem_monitor">
                    <div class="container_texto status_verde">
                        <p class="texto_computador  ">COMPUTADOR</p>
                        <p class="texto_computador ">PROFESSOR</p>
                    </div>    
                </card>
            </div>
            <div class="dropzone" id="3 1" ></div>
            <div class="dropzone" id="4 1" ></div>
            <div class="dropzone" id="5 1" ></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 1" ></div>
            <div class="dropzone" id="7 1" ></div>
            <div class="dropzone" id="8 1" ></div>
            <div class="dropzone" id="9 1" ></div>
            <div class="dropzone" id="10 1" ></div>
                    <!-- Fileira 2 -->  
            <div class="dropzone" id="1 2"></div>
            <div class="dropzone" id="2 2"></div>
            <div class="dropzone" id="3 2"></div>
            <div class="dropzone" id="4 2"></div>
            <div class="dropzone" id="5 2"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 2"></div>
            <div class="dropzone" id="7 2"></div>
            <div class="dropzone" id="8 2"></div>
            <div class="dropzone" id="9 2" ></div>
            <div class="dropzone" id="10 2" ></div>
                    <!-- Fileira 3 -->  
            <div class="dropzone" id="1 3"></div>
            <div class="dropzone" id="2 3"></div>
            <div class="dropzone" id="3 3"></div>
            <div class="dropzone" id="4 3"></div>
            <div class="dropzone" id="5 3"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 3"></div>
            <div class="dropzone" id="7 3"></div>
            <div class="dropzone" id="8 3"></div>
            <div class="dropzone" id="9 3" ></div>
            <div class="dropzone" id="10 3" ></div>
                    <!-- Fileira 4 -->  
            <div class="dropzone" id="1 4"></div>
            <div class="dropzone" id="2 4"></div>
            <div class="dropzone" id="2 4"></div>
            <div class="dropzone" id="3 4"></div>
            <div class="dropzone" id="4 4"></div>
            <div class="dropzone" id="5 4"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 4"></div>
            <div class="dropzone" id="7 4"></div>
            <div class="dropzone" id="8 4"></div>
            <div class="dropzone" id="9 4"></div>
            <div class="dropzone" id="10 4"></div>
                    <!-- Fileira 5 -->
            <div class="dropzone" id="1 5" ></div>
            <div class="dropzone" id="2 5"></div>
            <div class="dropzone" id="3 5"></div>
            <div class="dropzone" id="4 5"></div>
            <div class="dropzone" id="5 5"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 5"></div>
            <div class="dropzone" id="7 5"></div>
            <div class="dropzone" id="8 5"></div>
            <div class="dropzone" id="9 5" ></div>
            <div class="dropzone" id="10 5" ></div>
                 <!-- Fileira 6 -->
            <div class="dropzone" id="1 6"></div>
            <div class="dropzone" id="2 6"></div>
            <div class="dropzone" id="3 6"></div>
            <div class="dropzone" id="4 6"></div>
            <div class="dropzone" id="5 6"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 6"></div>
            <div class="dropzone" id="7 6"></div>
            <div class="dropzone" id="8 6"></div>
            <div class="dropzone" id="9 6" ></div>
            <div class="dropzone" id="10 6" ></div>   
            <!-- Fileira 7 -->  
            <div class="dropzone" id="1 7"></div>
            <div class="dropzone" id="2 7"></div>
            <div class="dropzone" id="3 7"></div>
            <div class="dropzone" id="4 7"></div>
            <div class="dropzone" id="5 7"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 7"></div>
            <div class="dropzone" id="7 7"></div>
            <div class="dropzone" id="8 7"></div>
            <div class="dropzone" id="9 7" ></div>
            <div class="dropzone" id="10 7" ></div>
                <!-- Fileira 8 -->
            <div class="dropzone" id="1 8"></div>
            <div class="dropzone" id="2 8"></div>
            <div class="dropzone" id="3 8"></div>
            <div class="dropzone" id="4 8"></div>
            <div class="dropzone" id="5 8"></div>
            <div class="dropzone_none" id="dropzone_none"></div>
            <div class="dropzone" id="6 8"></div>
            <div class="dropzone" id="7 8"></div>
            <div class="dropzone" id="8 8"></div>
            <div class="dropzone" id="9 8" ></div>
            <div class="dropzone" id="10 8" ></div>


             




    
        </div>
        <div class="area_computadores_reserva">
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria "></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
            <div class="dropzone dropzone_secundaria"></div>
        

        </div>

    </section>     
<footer class="footer_home">
    <h1>Todos os direitos Reservados</h1>
    <div class="github">
        <a class="link_github">https://github.com/MirageGroup</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>




<script src="../static/js/editor.js"></script>
{% endblock %}

</body>
</html>