<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">

    <title>Laboratório Editar</title>
</head>
<body>
    
    {% extends "header.html" %}
    {% block content %}
    
    <main>
            <div class="lab_superior">
                <h1>Editor de laboratório</h1>

            </div>
            <div class="titulos_edit">
                <div class="titulos_editor">
                    <h1>LAYOUT DA SALA</h1>
                    <p>arraste e solte os computadores para customizar o layout</p>

                </div>
               
            </div>
        
        
        <!-- computadores -->
        <section class="layout_editores">
            <div class="area_de_computadores">
              {% for computador in computadores %}
                {% if computador[1] == 1 %}
                  <div class="dropzone" id="{{computador[0]}}">
                    <card class="card_computador card" data-bs-toggle="modal" draggable="true" data-bs-target="#modal-teste"  data-bs-whatever="{{computador[2]}}" id="{{computador[2]}}">
                        <img src="{{url_for('static', filename='img/img_monitor')}}" class="imagem_monitor">
                        <div class="container_texto status_verde">
                            <p class="texto_computador ">COMPUTADOR</p>
                            <p class="texto_computador ">{{computador[2]}}</p>
                        </div>    
                    </card>
                  </div>
                {% else %}
                  <div class="dropzone" id="{{computador[0]}}"></div>
                {% endif %}
              {% endfor %}
            
            </div>
        </section>

<footer class="footer_home">
    <h1>Todos os direitos Reservados</h1>
    <div class="github">
        <a class="link_github">https://github.com/MirageGroup</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>




<script src="../static/js/editor.js"></script>
{% endblock %}

</body>
</html>