<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Técnico</title>
</head>
<body>
    {% extends "header.html" %}
    {% block content %}
    <main>
        <div class="main_apresentação">
            <h1 class="apresentação_titulo">Bem vindo ao local do técnico</h1>
            <p class="apresentação_texto">aqui você pode verificar os chamados dos computadores, assim como ferramentas para organiza-los</p>
        </div>
        <section class="container_reports">

          {% for chamado in chamados %}
            <card class="reports_card"> 
              <div class='card_superior_titulo'>
                      <h1 class="card_titulo" id="titulo_barra">Laboratório {{ chamado[1] }} </h1>
                      <h1 class="card_titulo">Computador {{ chamado[2] }}  </h1>
                      <p class=" botão_seta seta_baixo " id="" type="button" data-bs-toggle="collapse" data-bs-target="#chamado{{chamado[0]}}" aria-expanded="false" aria-controls="collapseExample">
                      </p>
              </div>
              <div class='card_superior_subtitulo'>
                  <h2 class="card_subtitulo">DATA: {{ chamado[3] }}</h2>
                  <h2 class="card_subtitulo">Horario: {{ chamado[4] }} </h2>
              </div>
              <div class="reports_inferior">
                  <div class="collapse collapse_report" id="chamado{{chamado[0]}}">
                    <p class="card_descrição "><strong>PROBLEMA</strong>: {{ chamado[5] }} </p><br>
                      <p class="card_descrição "><strong>DESCRIÇÃO</strong>: {{ chamado[6] }} </p>
                      <a href="/tecnico/finishcall/{{chamado[0]}}"><button type="button" class="btn_closeCall">Finalizar chamado</button></a>
                      <button type="button" class="btn_deleteCall">Excluir chamado</button>
                  </div>
              </div>
          </card>

          {% endfor %}

        </section>
    </main>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/técnico.js') }}" ></script>
    {% endblock %}
    
</body>
</html>